:root {
  --primary-color: #6d7fcc;
  --secondary-color: #c0c0c0;
  --bg-color: #f8f9fa;
  --text-color: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #5c6bc0;
  border-color: #5c6bc0;
}

.card {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.card-header {
  background-color: var(--primary-color);
  color: black;
  font-size: x-large;
}

.card-footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}
